.flex {

  display: flex;

}

.flex-row {

  flex-direction: row;

}

.flex-col {

  flex-direction: column;

}

.flex-grow {

    flex: 1 0 auto;

}

.flex-shrink {

  flex: 0 1 auto;

}

.flex-wrap {

  flex-wrap: wrap;

}

.flex-centre {

  align-items: center;

}