// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";

@import "vote-buttons";
@import "voter-chips";
@import "flex";

html, body {

  height: 100%;

}

body {

  padding-top: $body-navbar-padding;

}

.navbar {

  .navbar-toggle {
    padding: 7px;
    text-transform: uppercase;
  }

}

.section {
  margin-top: 40px;
}

.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

.vote-buttons {

  .vote-button {
    padding: 10px;
    width: 1px;

    button {
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
      transition: all 0.4s;
      border: none;
      text-transform: uppercase;
      display: block;
      width: 100%;
      border-radius: 3px;
      font-size: 17px;
      color: $btn-default-color;

      &.btn-success {
        color: $btn-success-color;
      }

    }

  }
}
